@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    @apply border-green;
}

input[type="search"] {
    background-image: url("../img/icon-search.svg");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.gallery-image {
    max-height: 85vh;
}