@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-green;
}

a:hover {
    @apply text-green-700;
}

input:focus {
    @apply border-green;
}

input[type="search"] {
    background-image: url("../img/icon-search.svg");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.gallery-image {
    max-height: 85vh;
}

/* fluid 5 columns */
@media (min-width: 768px) {
    .grid-sizer {
        @apply w-1/2;
    }
}

@media (max-width: 768px) {
    .grid-sizer {
        @apply w-full;
    }
}

@media(min-width: 992px) {
    .sub-menu {
        @apply bg-white absolute px-3 pt-3 pb-4;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
        width: 200px;
        z-index: 9;
    }
}

